WebSearchWithElasticsearch/bin
WebSearchWithElasticsearch/obj
WebSearchWithElasticsearch.v12.suo
WebSearchWithElasticsearch/WebSearchWithElasticsearch.csproj.user
WebSearchWithElasticsearchNet461/obj
WebSearchWithElasticsearchNet461/bin
WebSearchWithElasticsearchNet461/WebSearchWithElasticsearchNet461.csproj.user
.vs/WebSearchWithElasticsearch/v14/.suo
